# Ignore node_modules in both frontend and backend directories
/lms-frontend/node_modules/
/lms-backend/node_modules/

# Ignore other common files and directories
.DS_Store
*.log
*.env
npm-debug.log
yarn-error.log

# Ignore the .vscode folder (if using VS Code)
.vscode/
